numpy
pandas
tqdm
scikit-learn
torch
accelerate
transformers
datasets
sentencepiece       # required for many HF tokenizers/models
evaluate            # recommended for HF trainer metrics
peft
optuna
matplotlib
seaborn
kagglehub           # if you download datasets from KaggleHub
